@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatingLogos {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .animate-floatingLogos img {
    animation: floatingLogos 2s ease-in-out infinite;
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .hover-animate:hover .animate-left {
    animation: moveLeft 2s linear infinite;
  }
  
  .hover-animate:hover .animate-right {
    animation: moveRight 2s linear infinite;
  }
  